:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%; /*menyesuaikan root font size (1.4*16px) */
  background-color: rgba(1, 1, 1, 0.8); /* transparansi warna (rgba)*/
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* (index besar)gada elemen lain yg ngalahin urutan tumpukan*/
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav {
  color: white;
  display: inline-box;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#cari {
  display: none;
}

/* Media Quaries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #cari {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
}
